<div class="event-card">
  <div
    class="event-card-inner"
    style="
      background-image: url('/assets/images/sample-image (2).jpg');
      background-size: cover;
    "
  >
    <div class="time-location">
      <div class="time">
        <ion-icon slot="icon-only" name="time"></ion-icon>
        <p>22:00</p>
      </div>
      <div class="location">
        <ion-icon slot="icon-only" name="location"></ion-icon>
        <p>22:00</p>
      </div>
    </div>
    <div class="header">
      <p class="title">Conference A</p>
      <p class="subtitle">by John Smith</p>
    </div>
  </div>
</div>
