.app-menu {
  --width: 230px;

  .logo-container {
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;

    .logo {
      width: 200px;
    }
  }
}
.menu-content-reveal {
  box-shadow: none;
}

.app-menu::part(container) {
  box-shadow: -1px 0px 11px 0px #42424238;
}

.links {
  .link-label {
    font-family: "Roboto";
    font-size: 16px;
  }
  .link-item {
    --padding-start: 8px;
    --min-height: 60px;
  }
  .link-icon {
    margin-right: 10px;
    font-size: 28px;
  }

  .sublink-item {
    --background: white;
    --color: white;
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-end: 0px;

    &::part(native) {
      background: transparent;
    }
  }
  .subitem-accordion {
    width: 100%;
    // background-color: red;
    // background: red;
  }
}
