<ion-router-outlet id="main"></ion-router-outlet>

<ion-menu
  (ionWillOpen)="menuIsOpening()"
  (ionWillClose)="menuIsClosing()"
  type="push"
  side="start"
  menuId="first"
  class="app-menu"
  #menu
  contentId="main"
  swipeGesture="false"
>
  <ion-content>
    <div class="logo-container">
      <img class="logo" src="../../assets/images/logo.png" alt="" />
    </div>
    <div>
      <ion-list class="links">
        <ion-item
          lines="full"
          class="link-item"
          [routerLink]="[ '/members/home' ]"
        >
          <ion-icon
            slot="start"
            src="../../assets/icon/home-Light.svg"
            class="link-icon"
          ></ion-icon>
          <ion-label class="link-label">Home</ion-label>
        </ion-item>
        <ion-item
          lines="full"
          class="link-item"
          [routerLink]="[ '/members/calendar' ]"
        >
          <ion-icon
            slot="start"
            src="../../assets/icon/calendar-Light.svg"
            class="link-icon"
          ></ion-icon>
          <ion-label class="link-label">Calendar</ion-label>
        </ion-item>
        <ion-item
          lines="full"
          class="link-item"
          [routerLink]="[ '/members/events' ]"
        >
          <ion-icon
            slot="start"
            src="../../assets/icon/thumbtack-Light.svg"
            class="link-icon"
          ></ion-icon>
          <ion-label class="link-label">Events</ion-label>
        </ion-item>
        <ion-item
          lines="full"
          class="link-item"
          [routerLink]="[ '/members/check-in' ]"
        >
          <ion-icon
            slot="start"
            name="time-outline"
            class="link-icon"
          ></ion-icon>
          <ion-label class="link-label">Clock In/Out</ion-label>
        </ion-item>
        <ion-item
          lines="full"
          class="link-item"
          [routerLink]="[ '/members/leave' ]"
        >
          <ion-icon
            slot="start"
            name="airplane-outline"
            class="link-icon"
          ></ion-icon>
          <ion-label class="link-label">Leave</ion-label>
        </ion-item>
        <ion-item
          lines="full"
          class="link-item"
          [routerLink]="[ '/members/chat' ]"
        >
          <ion-icon
            slot="start"
            src="../../assets/icon/comments-Light.svg"
            class="link-icon"
          ></ion-icon>
          <ion-label class="link-label">Chat Room</ion-label>
        </ion-item>
        <ion-item
          lines="full"
          class="link-item"
          [routerLink]="[ '/members/profile' ]"
        >
          <ion-icon
            slot="start"
            src="../../assets/icon/user-Light.svg"
            class="link-icon"
          ></ion-icon>
          <ion-label class="link-label">Profile</ion-label>
        </ion-item>
        <ion-item lines="full" class="link-item">
          <ion-icon
            slot="start"
            src="../../assets/icon/settings-Light.svg"
            class="link-icon"
          ></ion-icon>
          <ion-label class="link-label">Settings</ion-label>
        </ion-item>
        <ion-item lines="none" class="link-item" (click)="logOut()">
          <ion-icon name="log-out-outline" class="link-icon"></ion-icon>
          <ion-label class="link-label">Log Out</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>
