//content

.content {
  position: relative;
  width: 100%;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

//header

.chat-header {
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 3fr;
  background-color: rgb(247, 248, 251);
  padding: 14px 12px;
  border-bottom: 1px rgb(0 0 0 / 15%) solid;
  position: absolute;
  z-index: 1;
  width: 100%;
  gap: 0.8rem;
}

.back-btn {
  align-self: center;
  font-size: 1.5rem;
  color: #bfc4d3;
}

.wrapper-avatar {
  display: flex;
  flex-direction: row;
  .active {
    height: 10px;
    width: 10px;
    background-color: #53b97e;
    border-radius: 100%;
    align-self: flex-end;
    margin-left: -12px;
    box-shadow: 0px 0px 0px 3px rgb(247, 248, 251);
  }
}

.wrapper-text-name {
  align-self: center;
  font-family: "Roboto";
  .name {
  }
  .status {
    color: #bfc4d3;
    font-weight: 400;
  }
}

//chat

.chat {
  display: flex;
  flex-direction: column;
  height: calc(100% - 4rem);
  padding-bottom: 10px;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  padding-top: 6rem;
}

.chat::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

//user chatbox
.user-chat-box {
  background: linear-gradient(336deg, rgb(168, 38, 199) 35%, #6e00dd 100%);
  width: 70%;
  border-radius: 17px;
  padding: 1rem 0.8rem;
  color: #fff;
  border-bottom-right-radius: 0;
}

.user-message {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-right: 15px;
}

.wrapper-chat-box {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}

.user-message-extender {
  width: 0;
  height: 0;
  border-bottom: 20px solid rgb(168, 38, 199);
  border-right: 20px solid transparent;
  align-self: flex-end;
}

.message-status {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.status-avatar {
  height: 1rem !important;
  width: 1rem !important;
  margin-left: 10px;
}

.time {
  font-size: 12px;
  color: #a1a1a1;
  line-height: 1.1rem;
}

//client SCSS

p.client-message {
  margin: 0;
}

.client-message-extender {
  width: 0;
  height: 0;
  border-bottom: 20px solid #eaecf2;
  border-left: 20px solid transparent;
  align-self: flex-end;
}

.client-chat-box {
  background: #eaecf2;
  width: 70%;
  border-radius: 17px;
  padding: 1rem 0.8rem;
  color: #000;
  border-bottom-left-radius: 0;
}

.client-message {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 15px;
}

.wrapper-chat-box-client {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  width: 100%;
}

.client-time {
  font-size: 12px;
  color: #a1a1a1;
}

.client-avatar {
  align-self: flex-end;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 8px;
}

//chat textbox

.chat-textbox {
  width: 100%;
  height: 4rem;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  padding: 0 10px;
  box-shadow: 1px -3px 6px 0px rgba(0,0,0,0.15);
}

.textbox {
  background: rgb(247, 248, 251);
  height: 2.5rem;
  --padding-start: 15px !important;
  --padding-end: 15px !important;
  border-radius: 18px;
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: "Roboto";
}

.send {
  font-size: 1.5rem;
  justify-self: center;
  
}
