<ion-content>
  <div class="chat-header">
    <ion-icon class="back-btn" name="chevron-back-outline"></ion-icon>
    <div class="wrapper-avatar">
      <ion-avatar class="avatar">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <div class="active"></div>
    </div>
    <div class="wrapper-text-name">
      <p class="name">Angelina Fox</p>
      <p class="status">Online</p>
    </div>
  </div>
  <div class="chat">
    <div class="user-message">
      <div class="wrapper-chat-box">
        <div class="user-chat-box">
          <p class="message">Hello, how are you!</p>
          <p class="message">Second line message</p>
        </div>
        <div class="user-message-extender"></div>
      </div>
      <div class="message-status">
        <p class="time">8:30</p>
        <ion-avatar class="avatar status-avatar">
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
      </div>
    </div>
    <div class="client-message">
      <div class="wrapper-chat-box-client">
        <div class="client-chat-box">
          <p class="client-message">
            Hello, I'm good adasdadasdasdasd asdasfdfa asdafasdasd dfasdasdasd
            dfasdasd sdfgsdgasfdasfdg asdasdasdas
          </p>
          <p class="client-message">Second line message from client-side</p>
        </div>
        <div class="client-message-extender"></div>
        <ion-avatar class="avatar client-avatar">
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          />
        </ion-avatar>
      </div>
      <div class="client-message-status" style="margin-top: 10px;">
        <p class="client-time">8:30</p>
      </div>
    </div>
  </div>
  <div class="chat-textbox"></div>
</ion-content>
