<ion-content>
  <top-bar-header></top-bar-header>
  <p class="pl-16 page-title">Events</p>
  <div class="px-4 mt-3">
    <popup-select
      title="Outlets"
      [options]="outlets"
      itemTitle="name"
      itemValue="id"
      [(selected)]="selectedOutlet"
      (onSelect)="onOutletSelect($event)"
      placeholder="Select an Outlet"
    ></popup-select>
  </div>
  <div class="mt-4">
    <event-big-card
      *ngFor="let event of events"
      [event]="event"
    ></event-big-card>
  </div>
</ion-content>
