<div class="top-bar-header">
  <ion-row>
    <ion-col size="6" class="ion-align-self-center">
      <ng-container *ngIf="isBack === ''; else menuTemplate">
        <div class="ion-activatable back-button" (click)="backClicked()">
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
          <ion-icon
            [ngClass]="{ black: backBlack }"
            slot="icon-only"
            name="arrow-back-outline"
            style="color: white; width: 25px; height: 25px"
          ></ion-icon>
        </div>
      </ng-container>
      <ng-template #menuTemplate>
        <ng-container *ngIf="isWhite === ''; else colorTemplate">
          <img
            [ngClass]="{ 'is-menu-opened': menuIsOpened }"
            (click)="toggleMenu()"
            src="../../../assets/icon/menu-white.svg"
            class="menu-icon"
            alt=""
          />
        </ng-container>
        <ng-template #colorTemplate>
          <img
            [ngClass]="{ 'is-menu-opened': menuIsOpened }"
            (click)="toggleMenu()"
            src="../../../assets/icon/menu.png"
            class="menu-icon"
            alt=""
          />
        </ng-template>
      </ng-template>
    </ion-col>
    <ion-col size="6" class="ion-align-self-center">
      <div #child style="text-align: end">
        <ng-content></ng-content>
      </div>

      <ion-avatar class="avatar" *ngIf="!child.children.length">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
    </ion-col>
  </ion-row>
</div>
