<ion-content>
  <top-bar-header back backBlack (backClicked)="backClicked()"></top-bar-header>
  <p class="pl-16 page-title mt-16">Apply Leave</p>
  <div class="px-4 mt-3 mb-15">
    <p class="input-title">TYPE OF LEAVE</p>
    <popup-select
      class="type-leave"
      title="Type of Leave"
      [(selected)]="form.leaveType"
      itemValue="type"
      itemTitle="type"
      [options]="leaveTypes"
    ></popup-select>
    <p *ngIf="typeSelected" class="mt-2">
      {{typeSelected?.days}} days remaining
    </p>
  </div>
  <ion-grid class="px-4 mb-15">
    <ion-row>
      <ion-col size="6" class="no-pl">
        <p class="input-title">STARTS AT</p>
        <div class="calendar-container" id="open-start-calendar">
          <ion-text class="text-date">
            {{form.startDateString | date}}</ion-text
          >
          <ion-icon
            class="calendar-icon"
            datetime="datetime"
            name="calendar-number-outline"
          ></ion-icon>
        </div>
        <ion-modal class="modal-calendar" trigger="open-start-calendar">
          <ng-template>
            <ion-content class="content-calendar">
              <ion-datetime
                #datetime
                (ionChange)="startDateChanged(datetime.value)"
                size="cover"
                showDefaultButtons="true"
                presentation="date"
              ></ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
      <ion-col size="6" class="no-pr">
        <p class="input-title">ENDS AT</p>
        <div class="calendar-container" id="open-end-calendar">
          <ion-text class="text-date"> {{form.endDateString | date}} </ion-text>
          <ion-icon
            class="calendar-icon"
            datetime="datetime"
            name="calendar-number-outline"
          ></ion-icon>
        </div>
        <ion-modal class="modal-calendar" trigger="open-end-calendar">
          <ng-template>
            <ion-content class="content-calendar">
              <ion-datetime
                #datetime
                (ionChange)="endDateChanged(datetime.value)"
                size="cover"
                showDefaultButtons="true"
                presentation="date"
              ></ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
      <ion-col size="12" *ngIf="usedDays != null">
        {{usedDays}} day(s) will be deducted
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="px-4 mt-3 mb-15">
    <p class="input-title">REASONS</p>
    <ion-textarea
      [(ngModel)]="form.reason"
      class="multiLineText"
      rows="10"
    ></ion-textarea>
  </div>
  <div class="px-4 mt-3 mb-15">
    <p class="input-title">ATTACHMENT (Optional)</p>
    <div class="camera-container" (click)="openGallery()">
      <img [src]="attachment" *ngIf="attachment" />
      <ion-icon
        class="camera-icon"
        name="camera-outline"
        *ngIf="!attachment"
      ></ion-icon>
    </div>
  </div>
  <div class="error-message" *ngIf="errorMessage">
    <p>{{errorMessage}}</p>
  </div>
  <div
    class="action-btn ion-activatable"
    (click)="applyLeave()"
    [ngClass]="{'disabled': !canApply}"
  >
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
    <ng-container *ngIf="canApply; else unableApplyTemp">
      <p>Apply</p>
    </ng-container>
    <ng-template #unableApplyTemp>
      <p>Unable to Apply</p>
    </ng-template>
  </div>
</ion-content>
