.multiLineText {
  border: 1px solid #a8a8a8;
  height: 20rem;
  border-radius: 10px;
}

.input-title {
  font-size: 12px;
  margin-bottom: 2px;
}

.camera-container {
  border: 1px solid #a8a8a8;
  display: grid;
  border-radius: 10px;
}

.camera-icon {
  margin: auto;
  font-size: 10rem;
}

.calendar-container {
  border: 1px solid #a8a8a8;
  display: grid;
  padding: 5px;
  grid-template-columns: 3fr 1fr;
}

.calendar-icon {
  font-size: 30px;
  justify-self: center;
}

.modal-calendar {
  --background: rgba(44, 39, 45, 0.2);

  &::part(content) {
    backdrop-filter: blur(6px);
  }

  .content-calendar {
    --background: transparent;
    --padding-top: 25vh;
    --padding-start: 20px;
    --padding-end: 20px;
  }
}

.text-date {
  align-self: center;
  font-size: 20px;
  line-height: 35px;
}

