<ion-content>
  <top-bar-header back backBlack (backClicked)="backClicked()"></top-bar-header>
  <p class="pl-16 page-title mt-16">Leave Balance</p>
  <div class="px-4 mt-3 mb-15">
    <p class="input-title">TYPE OF LEAVE</p>
    <popup-select title="Type of Leave" [options]="options"></popup-select>
  </div>
  <ion-grid class="px-4 mb-15">
    <ion-row>
      <ion-col size="6" class="no-pl">
        <p class="input-title">STARTS AT</p>
        <div class="calendar-container" id="open-start-calendar">
          <ion-text class="text-date"> {{startDateString}}</ion-text>
          <ion-icon
            class="calendar-icon"
            datetime="datetime"
            name="calendar-number-outline"
          ></ion-icon>
        </div>
        <ion-modal class="modal-calendar" trigger="open-start-calendar">
          <ng-template>
            <ion-content class="content-calendar">
              <ion-datetime
                #datetime
                (ionChange)="startDateChanged(datetime.value)"
                size="cover"
                showDefaultButtons="true"
                presentation="date"
              ></ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
      <ion-col size="6" class="no-pr">
        <p class="input-title">ENDS AT</p>
        <div class="calendar-container" id="open-end-calendar">
          <ion-text class="text-date"> {{endDateString}} </ion-text>
          <ion-icon
            class="calendar-icon"
            datetime="datetime"
            name="calendar-number-outline"
          ></ion-icon>
        </div>
        <ion-modal class="modal-calendar" trigger="open-end-calendar">
          <ng-template>
            <ion-content class="content-calendar">
              <ion-datetime
                #datetime
                (ionChange)="endDateChanged(datetime.value)"
                size="cover"
                showDefaultButtons="true"
                presentation="date"
              ></ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="px-4 mt-3 mb-15">
    <p class="input-title">REASONS</p>
    <ion-textarea class="multiLineText"></ion-textarea>
  </div>
  <div class="px-4 mt-3 mb-15">
    <p class="input-title">ATTACHMENT</p>
    <div class="camera-container" (click)="openGallery()">
      <ion-icon class="camera-icon" name="camera-outline"></ion-icon>
    </div>
  </div>
  <div class="action-btn ion-activatable">
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
    <p>Apply</p>
  </div>
</ion-content>
