.full-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .bg {
    img {
      position: absolute;
    }

    .bg-1 {
      top: -60px;
      left: -20px;
      z-index: 2;
    }

    .bg-2 {
      top: -30px;
      left: -20px;
      z-index: 1;
    }

    .bg-3 {
      bottom: -190px;
      right: -20px;
      z-index: 1;
    }

    .bg-4 {
      bottom: -20px;
      left: -20px;
      z-index: 1;
    }
  }

  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 16px;

    img {
      width: 85%;
      z-index: 10;
    }

    .login-title {
      font-family: "Poppins";
      font-weight: bold;
      font-size: 30px;
      margin: 20px;
    }
    .form-input {
      font-family: "Roboto";
      background-color: white;
      outline: none;
      border: none;
      box-shadow: 0 0 20px 10px #e8eef9;
      border-radius: 30px;
      font-size: 16px;
      padding: 20px 24px;
      width: 100%;

      margin-bottom: 10px;
      &::placeholder {
        color: #1d2226;
        opacity: 0.5;
      }
    }

    .btn {
      font-family: "Roboto";
      font-weight: bold;
      font-size: 18px;
      background: linear-gradient(100deg, #6e00dd, #a826c7);
      padding: 20px;
      color: white;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      border-radius: 30px;
    }
  }
}
