<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ modalTitle }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="popup-select-list">
    <ion-item
      lines="none"
      button
      class=""
      (click)="selectItem(option)"
      *ngFor="let option of options; let i = index"
      [ngClass]="{ selected: selectedIndex == i }"
    >
      <ion-label class="">{{option.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <div class="buttons">
    <div class="button error ion-activatable" (click)="cancel()">
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
      Cancel
    </div>
  </div>
</ion-footer>
