<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ modal_title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="popup-select-list">
    <ion-item lines="none" button class="selected" *ngFor="option of options">
      <ion-label class="">{{option.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <div class="buttons">
    <div class="button error ion-activatable" (click)="cancel()">
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
      Cancel
    </div>
  </div>
</ion-footer>
