
.pl-16 {
  padding-left: 16px;
}

.mt-16{
  margin-top: 16px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-15{
  margin-bottom: 15px;
}

.mb-30{
  margin-bottom: 30px;
}

.no-px{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-pl{
  padding-left: 0 !important;
}

.no-pr{
  padding-right: 0 !important;
}
