p {
  margin: 0;
}

.page-title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 48px;
  color: #a826c7;

  &.white {
    color: white;
  }
}

.page-subtitle {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  color: #000000;

  &.white {
    color: white;
  }
}
