<div class="event-big-card">
  <div class="event-big-card-inner">
    <div class="user">
      <img class="avatar" src="../../../../assets/images/Group 9.png" alt="" />
      <p class="name">Johan Rex</p>
    </div>
    <div class="event-image">
      <img
        [routerLink]="['/members/event-detail']"
        src="../../../../assets/images/test-event.jpg"
        class="image"
        alt=""
      />
    </div>
    <div class="event-detail">
      <div class="event-header">
        <p class="title">Conference 1</p>
        <p class="subtitle">by Speaker A</p>
      </div>
      <div class="time-location">
        <div class="time">
          <ion-icon slot="icon-only" name="time"></ion-icon>
          <p>22:00</p>
        </div>
        <div class="location">
          <ion-icon slot="icon-only" name="location"></ion-icon>
          <p>22:00</p>
        </div>
      </div>
    </div>
  </div>
</div>
