<ion-content>
  <top-bar-header>
    <div
      class="ion-activatable edit-button"
      
    >
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
      <ion-icon name="create-outline" style="font-size: 30px"></ion-icon>
    </div>
  </top-bar-header>

  <div class="container-profile">
    <div class="profile-picture">
      <img
        class="avatar-circle"
        src="../../../assets/images/profile-picture.jpeg"
      />
      <div class="camera-btn">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </div>
    </div>
    <p class="profile-name">Daniel Rezeki</p>
    <div class="profile-list">
      <div class="items">
        <p class="item title">Username</p>
        <p class="item content">Daniel Rezeki</p>
      </div>
      <div class="items">
        <p class="item title">Email</p>
        <p class="item content">daniel.rezeki@gmail.com</p>
      </div>
      <div class="items">
        <p class="item title">Location</p>
        <p class="item content">Besut, Pahang</p>
      </div>
      <div class="items">
        <p class="item title">Phone Number</p>
        <p class="item content">012-34567895</p>
      </div>
      <div class="items">
        <p class="item title">Status Membership</p>
        <p class="item content">Active</p>
      </div>
    </div>
  </div>
</ion-content>
