.edit-button {
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-circle {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.container-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.profile-picture {
  display: flex;
  flex-direction: column;
}

.profile-picture:last-child {
  background-color: aqua;
}

.profile-name {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: bold;
}

.camera-btn {
  margin-top: -1.5rem;
  margin-right: 1rem;
  align-self: end;
  background: linear-gradient(336deg, rgba(168, 38, 199, 1) 35%, #6e00dd 100%);
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-radius: 100%;
  color: #fff;
}

.profile-list {
  width: 100% !important;
}

.profile-list {
  width: 100% !important;

  .items {
    display: flex;
    flex-flow: column;
    padding: 10px 16px;
    .item {
      &.title {
        font-family: "Roboto";
        font-size: 14px;
        color: #a0a3aa;
      }

      &.content {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}
