<ion-content>
  <top-bar-header></top-bar-header>

  <div class="container-profile">
    <div class="profile-picture">
      <img
        class="avatar-circle"
        src="../../../assets/images/profile-picture.jpeg"
      />
      <div class="camera-btn">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </div>
    </div>
    <p class="profile-name">Daniel Rezeki</p>
    <div class="profile-list">
      <div class="items">
        <p class="item title">Username</p>
        <p class="item content">Daniel Rezeki</p>
        <div class="edit-btn item">
          <p>Edit</p>
        </div>
      </div>
      <div class="items">
        <p class="item title">Email</p>
        <p class="item content">daniel.rezeki@gmail.com</p>
        <div class="edit-btn item">
          <p>Edit</p>
        </div>
      </div>
      <div class="items">
        <p class="item title">Location</p>
        <p class="item content">Besut, Pahang</p>
        <div class="edit-btn item">
          <p>Edit</p>
        </div>
      </div>
      <div class="items">
        <p class="item title">Phone Number</p>
        <p class="item content">012-34567895</p>
        <div class="edit-btn item">
          <p>Edit</p>
        </div>
      </div>
      <div class="items">
        <p class="item title">Status Membership</p>
        <p class="item content">Active</p>
        <div class="edit-btn item">
          <p>Edit</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
