.popup-select {
  .popup-select-inner {
    border: 1px solid #a8a8a8;
    padding: 12px 14px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    font-family: var(--selected-font-family, "Poppins");
    font-size: 16px;
    font-weight: var(--selected-font-weight, 500);;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
