<ion-content id="leave-content">
  <div class="bg-gradient-1 leave-days-header">
    <top-bar-header #header white></top-bar-header>
    <p class="pl-16 page-title white" style="font-size: 30px">My Leave</p>

    <div #progress class="progress-group">
      <div class="wrapper-circle" *ngFor="let leaveType of leaveTypes">
        <circle-progress
          [percent]="85"
          [showUnits]="false"
          [showSubtitle]="false"
          [titleColor]="'#000000'"
          [backgroundColor]="'#ffffff'"
          [radius]="40"
          [animation]="true"
          [showInnerStroke]="false"
          [animationDuration]="300"
        ></circle-progress>
        <p>{{leaveType.type}}</p>
      </div>
    </div>
  </div>

  <div class="wrapper-leave-list">
    <div class="wrapper-leave-header pl-4 pr-4">
      <div class="title-modal mt-4">Leave Requests</div>
      <div class="apply-leave-btn ion-activatable">
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
        <p>
          <ion-icon name="add-circle-outline"></ion-icon>
          Apply for Leave
        </p>
      </div>
    </div>
    <div class="wrapper-leave-status">
      <div class="leave leave-reject">
        <div class="box-date">
          <p>05-16 Sep</p>
        </div>
        <div class="leave-details">
          <div class="leave-type">Annual</div>
          <div class="reason-leave">I would like to take out some days.</div>
          <div class="leave-status">
            <p>Rejected</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
