<div class="calendar-picker">
  <div class="calendar-picker-inner">
    <ion-datetime-button
      color="warning"
      class="datetime-picker"
      datetime="datetime"
    >
      <div slot="date-target">
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <p>{{ currentMonth | date: "MMMM y" }}</p>
          <ion-icon name="chevron-down"></ion-icon>
        </div>
      </div>
    </ion-datetime-button>
    <ion-modal
    #dateTimeModal
      [keepContentsMounted]="true"
      style="--width: 90%"
      [isOpen]="isDateTimeModalOpen"
      class="datetime-modal"
    >
      <ng-template>
        <ion-datetime
          class="month-picker"
          color="warning"
          [(ngModel)]="currentMonth"
          presentation="month-year"
          id="datetime"
        ></ion-datetime>
        <ion-button
          style="margin: 10px 40px"
          fill="none"
          color="primary"
          (click)="closeDateTimeModal()"
        >
          close
        </ion-button>
      </ng-template>
    </ion-modal>

    <div class="grid days-header-row">
      <div class="col">S</div>
      <div class="col">M</div>
      <div class="col">T</div>
      <div class="col">W</div>
      <div class="col">T</div>
      <div class="col">F</div>
      <div class="col">S</div>
    </div>
    <div class="grid days-row">
      <div
        class="col day"
        *ngFor="let calendarDate of calendarDates; let i = index"
        (click)="dateClicked(i)"
      >
        <ng-container *ngIf="calendarDate.label">
          <div
            class="label"
            [ngClass]="{ selected: i == selectedCalendarIndex }"
          >
            <div class="text">{{ calendarDate.label }}</div>
          </div>
          <div
            class="dot"
            [ngClass]="{ has: calendarDate.events.length > 0 }"
          ></div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
