<div>
  <div class="wrapper-leave-header">
    <div class="title-modal pl-16 mt-16">Request</div>
    <ion-fab-button class="fab-style" [routerLink]="[ '/members/apply-leave' ]">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </div>
  <div class="wrapper-leave-status">
    <div class="leave-reject">
      <div class="box-date"><p>5-16 Sep</p></div>
      <div class="grid-col-span-3 grid-row-span-2">
        <div class="leave-type">Annual</div>
        <div class="reason-leave" style="padding-right: 10px;">I would like to take out some days.</div>
      </div>
      <div class="reject-status grid-col-span-2">
        <ion-icon
          name="close-circle-outline"
          style="font-size: 30px"
        ></ion-icon>
        <p style="margin-left: 10px; line-height: 30px">Rejected</p>
      </div>
      <div class="action-btn">Dismiss</div>
    </div>
    <div class="leave-approve">
      <div class="box-date"><p>16 Sep</p></div>
      <div class="grid-col-span-3 grid-row-span-2">
        <div class="leave-type">Medical</div>
        <div class="reason-leave" style="padding-right: 10px;">
          Taking my kid for hospital checkup, my wife cant take a leave. Let me try to write a little bit longer so we can see how its going to look like.
        </div>
      </div>
      <div class="reject-status grid-col-span-2">
        <ion-icon
          name="checkmark-circle-outline"
          style="font-size: 30px"
        ></ion-icon>
        <p style="margin-left: 10px; line-height: 30px">Approved</p>
      </div>
      <div class="action-btn">Dismiss</div>
    </div>
    <div class="leave-pending">
      <div class="box-date"><p>16 Sep</p></div>
      <div class="grid-col-span-3 grid-row-span-2">
        <div class="leave-type">Emergency</div>
        <div class="reason-leave" style="padding-right: 10px;">
          Taking my kid for hospital checkup, my wife cant take a leave. Let me try to write a little bit longer so we can see how its going to look like.
        </div>
      </div>
      <div class="reject-status grid-col-span-2">
        <ion-icon
          name="time-outline"
          style="font-size: 30px"
        ></ion-icon>
        <p style="margin-left: 10px; line-height: 30px">Pending</p>
      </div>
      <div class="action-btn">Dismiss</div>
    </div>
    <div class="leave-reject">
      <div class="box-date"><p>5-16 Sep</p></div>
      <div class="grid-col-span-3 grid-row-span-2">
        <div class="leave-type">Annual</div>
        <div class="reason-leave" style="padding-right: 10px;">I would like to take out some days.</div>
      </div>
      <div class="reject-status grid-col-span-2">
        <ion-icon
          name="close-circle-outline"
          style="font-size: 30px"
        ></ion-icon>
        <p style="margin-left: 10px; line-height: 30px">Rejected</p>
      </div>
      <div class="action-btn">Dismiss</div>
    </div>
    <div class="leave-approve">
      <div class="box-date"><p>16 Sep</p></div>
      <div class="grid-col-span-3 grid-row-span-2">
        <div class="leave-type">Medical</div>
        <div class="reason-leave" style="padding-right: 10px;">
          Taking my kid for hospital checkup, my wife cant take a leave. Let me try to write a little bit longer so we can see how its going to look like.
        </div>
      </div>
      <div class="reject-status grid-col-span-2">
        <ion-icon
          name="checkmark-circle-outline"
          style="font-size: 30px"
        ></ion-icon>
        <p style="margin-left: 10px; line-height: 30px">Approved</p>
      </div>
      <div class="action-btn">Dismiss</div>
    </div>
    <div class="leave-pending">
      <div class="box-date"><p>16 Sep</p></div>
      <div class="grid-col-span-3 grid-row-span-2">
        <div class="leave-type">Emergency</div>
        <div class="reason-leave" style="padding-right: 10px;">
          Taking my kid for hospital checkup, my wife cant take a leave. Let me try to write a little bit longer so we can see how its going to look like.
        </div>
      </div>
      <div class="reject-status grid-col-span-2">
        <ion-icon
          name="time-outline"
          style="font-size: 30px"
        ></ion-icon>
        <p style="margin-left: 10px; line-height: 30px">Pending</p>
      </div>
      <div class="action-btn">Dismiss</div>
    </div>
  </div>
</div>
