.text-icon {
  display: flex;
  flex-flow: row;
  align-items: center;
  .icon {
    margin-right: 6px;
    width: 25px;
  }
  .text {
    p {
      margin: 0;
    }

    .text-title {
      font-size: 14px;
    }

    .text-subtitle {
      font-weight: 500;
      color: #6e00dd;
      font-size: 16px;
    }
  }
}

.event-content {
  white-space: break-spaces;
  margin-top: 20px;
  letter-spacing: 0.5px;
  line-height: 26px;
  font-family: "Roboto";
}

.register-btn {
  padding: 14px;
  border-radius: 16px;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 14px;

  &.disabled {
    background: rgba(182, 182, 182, 0.521) !important;
    color: rgb(141, 141, 141);
    font-weight: 400;
  }
}
