<ion-row class="mt-5">
  <ion-col size="12">
    <div class="text-icon">
      <div class="icon">
        <img src="../../../assets/icon/calendar-Light.svg" alt="" />
      </div>
      <div class="text">
        <p class="text-title">
          {{ event?.eventTimeFrom | minuteToTime }} -
          {{ event?.eventTimeTo | minuteToTime }}
        </p>
        <p class="text-subtitle">
          {{ event?.eventDateFrom | date }} - {{ event?.eventDateTo | date }}
        </p>
      </div>
    </div>
  </ion-col>
  <ion-col size="12">
    <div class="text-icon">
      <div class="icon">
        <img src="../../../assets/icon/user-Light.svg" alt="" />
      </div>
      <div class="text">
        <p class="text-title">Hosted By</p>
        <p class="text-subtitle">Speaker A</p>
      </div>
    </div>
  </ion-col>
  <ion-col size="12">
    <pre class="event-content">{{ event?.description }}</pre>
  </ion-col>
  <ion-col size="12">
    <div class="text-icon">
      <div class="icon">
        <ion-icon name="at-outline"></ion-icon>
      </div>
      <div class="text">
        <p class="text-title" style="font-size: 14px; margin-bottom: 0px">
          Posted By - {{ event?.createdBy.name }}
        </p>
        <p class="text-title" style="font-size: 14px">
          {{ event?.outlet.name }}
        </p>
      </div>
    </div>
  </ion-col>
</ion-row>
